body {
  font-family: Arial;
}

/* Menu Bar at the Top */

#home {
  background-color:  #325886;
  padding-bottom: 1cm;
  margin-left:-1cm;
  margin-right:-1cm;
  margin-top:-1cm;
  padding-top: 2cm;
  padding-bottom: 1.5cm;
  height: 5mm;
 }
 
 .menu {
  color: lightgray;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #FEF265;
}

.menu:hover {
  color: #FEF265;
  text-decoration: underline;
}

.topmenu {
  text-align: center;
  padding-right: 1cm;
}

/* Home Page */
h1 {
  padding-top: 20px;
  font-weight: bolder;
  font-size: 45px;
  text-align: center;
  font-family: Brush Script MT; /* It'd be nice to use Brush Script here */
}

h3 {
  text-align: center;
  font-style: italic;
  padding-bottom: 25px;
}

#description {
  text-align: center;
}
